body {
    background-color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 1rem;
    margin: 1rem;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-family: 'Henny Penny', cursive;
    color: #ffffff;
    font-size: 5rem;
    margin-top: 6rem;
    text-align: center;
}

.dude {
    position: absolute;
    bottom: 0px;
}

.obstacle {
    position: absolute;
    /* background-image:url('assets/mini-hitler.png'); */
    width: 50px;
    height: 50px;
    bottom: 0px;
    border-radius: 50%;
    background-color: red;
}